<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @residential.image.url %>
      <br>
      <strong>Motors Features:</strong>  
      <%= @residential.additionalfeatures %>
      </div>

      <br>
  </div>
  <div class="col-md-6">
    <h4><strong>General Description</strong></h4>
    <h5><strong><%= @residential.address %></strong></h5>
    <h5> <strong>Listing Price:</strong> <%= number_to_currency(@residential.price) %></h5>
    <div class ="col-md-6">
     <strong>Status:</strong>  
     <%= @residential.status %>
   </div>
    <div class ="col-md-6">
     <strong>City:</strong>  
    <%= @residential.city %>
  </div>
   <div class ="col-md-6">
    <strong>Zip code:</strong>  
    <%= @residential.zip_code %>
  </div>
   <div class ="col-md-6">
    <strong>Type of Motor:</strong>  
   <%= @residential.property_type %>
 </div>
  <div class ="col-md-6">
   <strong>Doors:</strong> 
  <%= @residential.bedrooms %>
</div>
 <div class ="col-md-6">
  <strong>Miles:</strong>  
  <%= @residential.square_feet %>
</div>
 <div class ="col-md-6">
  <strong>Previus Owners:</strong>  
  <%= @residential.stories %>
</div>
 <div class ="col-md-6">
  <strong>Year:</strong>  
  <%= @residential.year_built %>
</div>
 <div class ="col-md-6">
  <strong>Type:</strong>  
  <%= @residential.construction_type %>
</div>
 
</div>
 <br>
<br>
<div class ="col-md-6">
 <h4><strong>Interior Features</strong></h4>
 <div class ="col-md-6">
      <strong>Leather Seats:</strong>  
      <%= @residential.private_pool %>
   </div>
   <div class ="col-md-6">
      <strong>A/C:</strong>  
    <%= @residential.area_tennis %>
   </div>
   <div class ="col-md-6">
      <strong>Alarm:</strong>  
      <%= @residential.wheelchair %>
   </div>
   <div class ="col-md-6">
  <strong>Automatic Transmission:</strong>  
  <%= @residential.patio_deck %>
</div>
<div class ="col-md-6">
  <strong>Automatic Windows:</strong> 
  <%= @residential.golf_course %>
</div>
<div class ="col-md-6">
  <strong>GPS Navigation:</strong>  
  <%= @residential.water_view %>
</div>
<div class ="col-md-6">
  <strong>Stereo:</strong>  
  <%= @residential.water_front %>
</div>
</div>
<br>
<br>
<div class ="col-md-6">
 <h4><strong>Exterior Features</strong></h4>
 <div class ="col-md-6">
  <strong>Color:</strong>  
  <%= @residential.elevator %>
</div>
</div>
<br>
<br>
<div class ="col-md-6">
<h4><strong>Contact Information</strong></h4>
<div class ="col-md-6">
  <strong>Contact Name:</strong>  
  <%= @residential.realtorname %>
</div>
  <div class ="col-md-6">
  <strong>Phone:</strong>  
  <%= @residential.realtorphonenumber %>
</div>
<div class ="col-md-6">
  <strong>Email:</strong>  
  <%= @residential.realtoremail %>
</div>
</div>
</div>
</div>
    <br>
    <br>
   <div class ="col-md-12">
    <div class= "center">
   <strong>Map View Location:</strong><br>
   <br>
<iframe
  width="800"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAUOQ0h7ZYU56FuY9ziMMXURoIlHxC3pfY
    &q=<%= @residential.address.parameterize %>">
</iframe>
</div>
</div>
<br>
<br>



</div>
</div>
<% if current_user == @residential.user %>
<%= link_to 'Edit', edit_residential_path(@residential), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', residentials_path, class: "btn btn-link" %>

